body {
  margin: 2rem 10rem;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Oswald", sans-serif;
}

.row{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
